DataCity-Small/iotapp-nr1/flows.json
[{"id":"7105bd70.74fd24","type":"tab","label":"Flow 1"},{"id":"32a82adc.0e5e06","type":"tab","label":"OSM","disabled":false,"info":""},{"id":"b6383a54.d474f8","type":"tab","label":"test Diego","disabled":false,"info":""},{"id":"2b05f7c8.c0c2d8","type":"tab","label":"test_ws","disabled":false,"info":""},{"id":"305e4485.028b3c","type":"subflow","name":"triplesToVirtuoso (3)","info":"","in":[{"x":176,"y":78,"wires":[{"id":"648bcb97.92c034"}]}],"out":[{"x":817,"y":402,"wires":[{"id":"47a8da6.7b8f524","port":0}]}]},{"id":"e6119004.fe69b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3dbf9cda.ef08f4","type":"orion-service","z":"","name":"","url":"orionbrokerfilter","port":"8443"},{"id":"d83868a.f0b0c98","type":"snap4city-authentication","z":"","name":"userrootadmin"},{"id":"31bbd16f.53f03e","type":"inject","z":"7105bd70.74fd24","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":228,"y":173,"wires":[["344c44ed.6e160c","cca80b32.b533d8","c320e8c2.856f58","ec62fe3.60705"]]},{"id":"344c44ed.6e160c","type":"function","z":"7105bd70.74fd24","name":"","func":"msg.payload=[\n                {\n                    \"name\": \"wind\",\n                    \"type\": \"float\",\n                    \"value\": Math.random()*100\n                }\n            ];\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":180,"wires":[["7ac44d16.e2e914","c6405a1c.bb5bc8","671c24c3.0b235c"]]},{"id":"1ffbe16.1454b1f","type":"debug","z":"7105bd70.74fd24","name":"","active":true,"console":"false","complete":"false","x":950,"y":380,"wires":[]},{"id":"7ac44d16.e2e914","type":"fiware-orion-out","z":"7105bd70.74fd24","name":"wind1","authentication":"","tls":"","service":"3dbf9cda.ef08f4","entype":"WindSensor","enid":"wind1","userk1":"e95e90e7-7ee6-44a0-9a47-dd733194c7e9","passk2":"ec46165c-4517-4c23-9d16-16185862075a","apikey":"","basicAuth":"","x":650,"y":120,"wires":[]},{"id":"c6405a1c.bb5bc8","type":"fiware-orion-out","z":"7105bd70.74fd24","name":"wind2","authentication":"","tls":"","service":"3dbf9cda.ef08f4","entype":"WindSensor","enid":"wind2","userk1":"bcac119a-89f5-4f26-a1c8-f2d85c1600a6","passk2":"c7b4b5e7-4bbb-445f-8b5c-569386df8d4f","apikey":"","basicAuth":"","x":650,"y":200,"wires":[]},{"id":"f76565f0.86fca8","type":"save-my-kpidata-values","z":"7105bd70.74fd24","name":"Save on redCount","kpiId":"17056249-redCount-integer","selectedKPIDataId":"17056249-redCount-integer","authentication":"","x":670,"y":360,"wires":[["1ffbe16.1454b1f"]]},{"id":"cca80b32.b533d8","type":"function","z":"7105bd70.74fd24","name":"","func":"msg.payload={\"value\": Math.random()*100}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":280,"wires":[["f76565f0.86fca8"]]},{"id":"d351b440.b60808","type":"single-content","z":"7105bd70.74fd24","flowName":"Flow 1","authentication":"","username":"usermanager","name":"status","metricType":"Testuale","startValue":"","metricShortDesc":"","metricFullDesc":"","x":690,"y":460,"wires":[]},{"id":"c320e8c2.856f58","type":"function","z":"7105bd70.74fd24","name":"","func":"msg.payload=Math.random()*100\nreturn msg;","outputs":1,"noerr":0,"x":447,"y":426,"wires":[["d351b440.b60808","1ffbe16.1454b1f"]]},{"id":"ec62fe3.60705","type":"function","z":"7105bd70.74fd24","name":"","func":"return msg;","outputs":1,"noerr":0,"x":426,"y":63,"wires":[[]]},{"id":"5044adf4.4acbc4","type":"debug","z":"32a82adc.0e5e06","name":"","active":true,"console":"false","complete":"true","x":890,"y":740,"wires":[]},{"id":"5abf5af.02f55a4","type":"http request","z":"305e4485.028b3c","name":"","method":"GET","ret":"txt","url":"","tls":"","x":477,"y":82,"wires":[[]]},{"id":"648bcb97.92c034","type":"function","z":"305e4485.028b3c","name":"prepare A1 and A2","func":"//var wwwAuth=msg.headers[\"www-authenticate\"];\n//var a = wwwAuth.split(\"\\\"\")\nvar realm=\"SPARQL\"; //a[1];\nmsg.nonce=\"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa\"; //a[5].replace(\"a\",\"b\");\nmsg.opaque=\"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa\"; //a[7];\nmsg.A1=msg.user+\":\"+realm+\":\"+msg.passw;\n//msg.uri=\"/sparql-graph-crud-auth?graph-uri=urn:graph\";\nmsg.uri=\"\"\nmsg.A2=msg.method+\":\"+msg.uri\nreturn msg;","outputs":1,"noerr":0,"x":506,"y":150,"wires":[["efa5ed1d.1c216"]]},{"id":"efa5ed1d.1c216","type":"md5","z":"305e4485.028b3c","name":"md5 A1","fieldToHash":"A1","fieldTypeToHash":"msg","hashField":"A1_md5","hashFieldType":"msg","x":473,"y":201,"wires":[["f9a812e5.133b7"]]},{"id":"f9a812e5.133b7","type":"md5","z":"305e4485.028b3c","name":"md5 A2","fieldToHash":"A2","fieldTypeToHash":"msg","hashField":"A2_md5","hashFieldType":"msg","x":470,"y":251,"wires":[["7d8214d7.a23e0c"]]},{"id":"7d8214d7.a23e0c","type":"function","z":"305e4485.028b3c","name":"prepare A3","func":"msg.A3=msg.A1_md5+\":\"+msg.nonce+\":\"+msg.A2_md5\nreturn msg;","outputs":1,"noerr":0,"x":477,"y":305,"wires":[["35941964.472696"]]},{"id":"35941964.472696","type":"md5","z":"305e4485.028b3c","name":"md5 A3","fieldToHash":"A3","fieldTypeToHash":"msg","hashField":"md5","hashFieldType":"msg","x":469,"y":359,"wires":[["e32efb56.8e76c8"]]},{"id":"e32efb56.8e76c8","type":"function","z":"305e4485.028b3c","name":"","func":"msg.headers={};\nmsg.headers[\"Authorization\"]=\"Digest username=\\\"\"+msg.user+\"\\\", realm=\\\"SPARQL\\\", nonce=\\\"\"+msg.nonce+\"\\\", opaque=\\\"\"+msg.opaque+\"\\\", uri=\\\"\"+msg.uri+\"\\\", response=\\\"\"+msg.md5+\"\\\"\"\nmsg.payload=msg.triples\n\nreturn msg;","outputs":1,"noerr":0,"x":457,"y":403,"wires":[["47a8da6.7b8f524"]]},{"id":"47a8da6.7b8f524","type":"http request","z":"305e4485.028b3c","name":"","method":"use","ret":"txt","url":"","tls":"","x":667,"y":402,"wires":[[]]},{"id":"847e14c6.cfa518","type":"comment","z":"305e4485.028b3c","name":"implementing digest authentication","info":"Virtuoso supports only digest authentication \nand not basic authentication.\nBut in this version of nodered the http request \nsupports only basic authentication, this flow \nimplemnents the digest auth using the md5 node.","x":549,"y":33,"wires":[]},{"id":"cd0e1e9a.48819","type":"subflow:305e4485.028b3c","z":"32a82adc.0e5e06","name":"","x":760,"y":500,"wires":[["65ae4547.473dfc"]]},{"id":"bf64e86.00ca518","type":"function","z":"32a82adc.0e5e06","name":"prepare DELETE graph","func":"if(!msg.errors) {\n    msg.triples = msg.payload;\n    msg.user = \"dba\";\n    msg.passw = \"dba\";\n    msg.method = \"DELETE\";\n    msg.url = \"http://virtuoso-kb:8890/sparql-graph-crud-auth?graph-uri=urn:graph:\"+msg.name;\n    return msg;\n}","outputs":1,"noerr":0,"x":690,"y":420,"wires":[["cd0e1e9a.48819"]]},{"id":"65ae4547.473dfc","type":"function","z":"32a82adc.0e5e06","name":"prepare POST","func":"if(msg.statusCode==200 || msg.statusCode==404) {\n    msg.user = \"dba\";\n    msg.passw = \"dba\";\n    msg.method = \"POST\";\n    msg.url = \"http://virtuoso-kb:8890/sparql-graph-crud-auth?graph-uri=urn:graph:\"+msg.name;\n    return msg;\n}","outputs":1,"noerr":0,"x":809,"y":590,"wires":[["a144df9e.9881f"]]},{"id":"a144df9e.9881f","type":"subflow:305e4485.028b3c","z":"32a82adc.0e5e06","name":"","x":819,"y":664,"wires":[["5044adf4.4acbc4"]]},{"id":"6f005758.665f48","type":"function","z":"32a82adc.0e5e06","name":"Email adapting","func":"msg.topic = \"km4city POI upload \"+msg.name\nif(!msg.errors) {\n    msg.payload = Buffer.from(msg.payload);\n    msg.filename = \"Triples.n3\";\n    msg.description = msg.errors\n} else {\n    msg.payload = \"Errors:\\n\"+msg.errors\n}\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":320,"wires":[["bf64e86.00ca518"]]},{"id":"9475ee77.10005","type":"http request","z":"32a82adc.0e5e06","name":"","method":"GET","ret":"txt","url":"","tls":"","x":390,"y":140,"wires":[["4f8f9d78.23a484"]]},{"id":"4f8f9d78.23a484","type":"xml","z":"32a82adc.0e5e06","name":"","attr":"","chr":"","x":510,"y":80,"wires":[["b9f293e1.1ac93"]]},{"id":"61777bc.d4bb284","type":"function","z":"32a82adc.0e5e06","name":"Generalizzazione chiamata","func":"var categoryName=\"amenity\";\nvar category=\"hospital\";\n\nvar subNature=category;\nif(category=='bank'){\n  subNature=\"Bank\";\n}\nelse if(category=='hospital'){\n  subNature=\"Public Hospital\";\n}\nelse if(category=='atm'){\n  subNature=\"ATM\";\n}\n\nflow.set('subNature',subNature);\n\n\n\n// BOX PISA\nvar lonAS=\"10.304564350028\";\nvar latAS=\"43.659026957694\";\nvar lonBD=\"10.46678435125\";\nvar latBD=\"43.7788749899\";\n\nvar request={\n  url:\"http://overpass-api.de/api/interpreter/?data=(node[amenity=hospital](bbox);way[\"+categoryName+\"=\"+category+\"](bbox);rel[\"+categoryName+\"=\"+category+\"](bbox););(._;%3E;);out%20center;&bbox=\"+lonAS+\",\"+latAS+\",\"+lonBD+\",\"+latBD, \n  method:\"GET\",\n};\n\n\n\nreturn request;","outputs":1,"noerr":0,"x":260,"y":80,"wires":[["9475ee77.10005"]]},{"id":"b9f293e1.1ac93","type":"function","z":"32a82adc.0e5e06","name":"Fun","func":"var payload={};\n\npayload=msg.payload.osm.way;\n\nmsg.payload.osm.relation.forEach((d,i)=>{\n    payload.push(d);\n});\n\n\nreturn {\"payload\":payload};\n","outputs":1,"noerr":0,"x":570,"y":140,"wires":[["ed61fca5.1b2c4"]]},{"id":"ed61fca5.1b2c4","type":"function","z":"32a82adc.0e5e06","name":"Give name","func":"msg.name=\"amenity_hospital\"\nreturn msg;","outputs":1,"noerr":0,"x":574,"y":227,"wires":[["54dff873.fc5fc8"]]},{"id":"54dff873.fc5fc8","type":"function","z":"32a82adc.0e5e06","name":"produce triples","func":"\nfunction toN3(suri,property,value,lang) {\n    if(value) {\n        if(lang)\n            return \"<\"+suri+\"> <\"+property+\"> \\\"\"+value+\"\\\"@\"+lang+\" .\\n\";\n        else\n            return \"<\"+suri+\"> <\"+property+\"> \\\"\"+value+\"\\\" .\\n\";\n    }\n    return \"\";\n}\n\nvar n3=\"\"\nvar km4c=\"http://www.disit.org/km4city/schema#\";\nvar schema=\"http://schema.org/\";\nvar dcterms=\"http://purl.org/dc/terms/\"\nvar skos=\"http://www.w3.org/2004/02/skos/core#\"\nvar geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\"\nvar xsd=\"http://www.w3.org/2001/XMLSchema#\"\n\nvar ita_lang=\"it\";\nvar errors=\"\"\nfor(var i=0;i<msg.payload.length;i++) {\n\n  var v = msg.payload[i];\n\n  if(v.tag){\n    var subNature=flow.get('subNature') || null;\n    \n    v.id= v.$.id;\n    v.latitude= v.center[0].$.lat;\n    v.longitude= v.center[0].$.lon;\n    v.province=\"PI\";\n    v.city=\"Pisa\";\n    v.subCategory=subNature;\n\n\n    v.tag.forEach((s, k) => {\n      var key=s[\"$\"].k;\n      if(key=='name'){\n        key='nameITA';\n      }\n      \n      if(key!='type'){\n        v[key]=s[\"$\"].v;\n      }\n    });\n\n    if(!v.id) {\n        //errors +=\"row \"+(i+2)+\" missing id\\n\";\n        //continue;\n        v.id=msg.name.substring(0, msg.name.lastIndexOf('.')).toLowerCase()+\"_\"+i;\n    }\n    var suri=\"http://www.disit.org/km4city/resource/\"+v.id;\n    if(v.subCategory)\n        n3+=\"<\"+suri+\"> a <\"+km4c+v.subCategory+\"> .\\n\";\n    else {\n        errors +=\"row \"+(i+2)+\" missing subcategory\\n\";\n    }\n    \n    n3 += toN3(suri, dcterms+\"identifier\", v.id, \"\");\n\n    if(!v.nameITA && !v.nameENG) {\n        errors +=\"row \"+(i+2)+\" missing nameITA and nameENG\\n\"\n    }\n    n3 += toN3(suri, schema+\"name\", v.nameITA, ita_lang);\n    n3 += toN3(suri, schema+\"name\", v.nameENG, \"en\");\n    \n    if(!v.latitude || !v.longitude) {\n        errors += \"row \"+(i+2)+\" missing latitude or longitude\\n\"\n    } else {\n        n3+=\"<\"+suri+\"> <\"+geo+\"lat> \\\"\"+v.latitude+\"\\\"^^<\"+xsd+\"float> .\\n\";\n        n3+=\"<\"+suri+\"> <\"+geo+\"long> \\\"\"+v.longitude+\"\\\"^^<\"+xsd+\"float> .\\n\";\n        n3+=\"<\"+suri+\"> <\"+geo+\"geometry> \\\"POINT(\"+v.longitude+\" \"+v.latitude+\")\\\"^^<http://www.openlinksw.com/schemas/virtrdf#Geometry> .\\n\";\n    }\n    \n    n3 += toN3(suri, dcterms+\"subject\", v.otherCategoryITA, ita_lang);\n    n3 += toN3(suri, dcterms+\"subject\", v.otherCategoryENG, \"en\");\n    n3 += toN3(suri, km4c+\"shortDescription\", v.descriptionShortITA, ita_lang);\n    n3 += toN3(suri, km4c+\"shortDescription\", v.descriptionShortENG, \"en\");\n    n3 += toN3(suri, dcterms+\"description\", v.descriptionLongITA, ita_lang);\n    n3 += toN3(suri, dcterms+\"description\", v.descriptionLongENG, \"en\");\n    n3 += toN3(suri, km4c+\"shortName\", v.abbreviationITA, ita_lang);\n    n3 += toN3(suri, km4c+\"shortName\", v.abbreviationENG, \"en\");\n    \n    n3 += toN3(suri, schema+\"telephone\", v.phone, \"\");\n    n3 += toN3(suri, schema+\"otherTelephone\", v.secondPhone, \"\");\n    n3 += toN3(suri, km4c+\"faxNumber\", v.fax, \"\");\n    n3 += toN3(suri, km4c+\"otherFaxNumber\", v.secondFax, \"\");\n    n3 += toN3(suri, schema+\"url\", v.url, \"\");\n    n3 += toN3(suri, schema+\"email\", v.email, \"\");\n    n3 += toN3(suri, km4c+\"otherEmail\", v.secondEmail, \"\");\n    n3 += toN3(suri, km4c+\"referencePerson\", v.RefPerson, \"\");\n    n3 += toN3(suri, schema+\"streetAddress\", v.streetAddress, \"\");\n    n3 += toN3(suri, km4c+\"houseNumber\", v.civicNumber, \"\");\n    n3 += toN3(suri, schema+\"postalCode\", v.postalcode, \"\");\n    n3 += toN3(suri, schema+\"addressLocality\", v.city, \"\");\n    n3 += toN3(suri, schema+\"addressRegion\", v.province, \"\");\n    n3 += toN3(suri, km4c+\"otherStreetAddress\", v.secondStreetAddress, \"\");\n    n3 += toN3(suri, km4c+\"otherHouseNumber\", v.secondCivicNumber, \"\");\n    \n    n3 += toN3(suri, skos+\"note\", v.notes, \"\");\n    n3 += toN3(suri, schema+\"openingHours\", v.timetable, \"\");\n    n3 += toN3(suri, km4c+\"multimediaResource\", v.photo, \"\");\n\n    n3 += \"\\n\";\n\n  }\n\n}\n\n\nif(!errors)\n    msg.payload = n3;\nelse\n    msg.payload = \"err\"\nmsg.errors = errors\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":553,"y":311,"wires":[["a082bc91.fdc83"]]},{"id":"d05beeef.da34d","type":"inject","z":"32a82adc.0e5e06","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":120,"y":160,"wires":[["61777bc.d4bb284"]]},{"id":"7b46b3f4.65688c","type":"subflow:305e4485.028b3c","z":"32a82adc.0e5e06","name":"lll","x":370,"y":640,"wires":[["7ac650f9.f1e21"]]},{"id":"7ac650f9.f1e21","type":"debug","z":"32a82adc.0e5e06","name":"","active":true,"console":"false","complete":"true","x":510,"y":760,"wires":[]},{"id":"a6d3df4e.ffa55","type":"function","z":"32a82adc.0e5e06","name":"prepare POST","func":"\nvar triple='<http://www.disit.org/km4city/resource/154666148> a <http://www.disit.org/km4city/schema#Public Hospital> . <http://www.disit.org/km4city/resource/154666148> <http://purl.org/dc/terms/identifier> \"154666148\" . <http://www.disit.org/km4city/resource/154666148> <http://schema.org/name> \"Misericordia di Pisa\"@it . <http://www.disit.org/km4city/resource/154666148> <http://www.w3.org/2003/01/geo/wgs84_pos#lat> \"43.7095865\"^^<http://www.w3.org/2001/XMLSchema#float> . <http://www.disit.org/km4city/resource/154666148> <http://www.w3.org/2003/01/geo/wgs84_pos#long> \"10.3729361\"^^<http://www.w3.org/2001/XMLSchema#float> . <http://www.disit.org/km4city/resource/154666148> <http://www.w3.org/2003/01/geo/wgs84_pos#geometry> \"POINT(10.3729361 43.7095865)\"^^<http://www.openlinksw.com/schemas/virtrdf#Geometry> . <http://www.disit.org/km4city/resource/154666148> <http://schema.org/addressLocality> \"Pisa\" . <http://www.disit.org/km4city/resource/154666148> <http://schema.org/addressRegion> \"PI\" .';\nvar name=\"amenity_hospital\";\n\n\nmsg.topic = \"km4city POI upload \"+name\nmsg.payload = Buffer.from(triple);\nmsg.payload2 = (triple);\nmsg.filename = \"Triples.n3\";\nmsg.user = \"dba\";\nmsg.passw = \"dba\";\nmsg.method = \"POST\";\nmsg.url = \"http://virtuoso-kb:8890/sparql-graph-crud-auth?graph-uri=urn:graph:\"+name;\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":560,"wires":[["7b46b3f4.65688c","2cde412f.86347e"]]},{"id":"68976fd5.27b4a","type":"inject","z":"32a82adc.0e5e06","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":100,"y":460,"wires":[["a6d3df4e.ffa55"]]},{"id":"a082bc91.fdc83","type":"debug","z":"32a82adc.0e5e06","name":"","active":true,"console":"false","complete":"true","x":730,"y":280,"wires":[]},{"id":"2cde412f.86347e","type":"debug","z":"32a82adc.0e5e06","name":"","active":true,"console":"false","complete":"false","x":410,"y":520,"wires":[]},{"id":"16fbd0ba.72877f","type":"inject","z":"b6383a54.d474f8","name":"","repeat":"60","crontab":"","once":true,"topic":"","payload":"","payloadType":"date","x":277,"y":105,"wires":[["b96db9c2.25f588"]]},{"id":"b96db9c2.25f588","type":"function","z":"b6383a54.d474f8","name":"","func":"var data={\n \"id\": \"test_diego_01\",\n \"type\": \"Weather\",\n \"attributes\":[\n    {\"name\": \"dateObserved\", \"value\": new Date().toISOString(), \"type\": \"time\"},\n    {\"name\": \"tmin\", \"value\": Math.random()*100 , \"type\": \"float\"},\n  ]\n}\nvar msg={payload: data}\nreturn msg;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":473,"y":140,"wires":[["1782bae9.093745"]]},{"id":"1782bae9.093745","type":"fiware-orion-out","z":"b6383a54.d474f8","name":"","authentication":"","tls":"","service":"3dbf9cda.ef08f4","entype":"userrootadmin","enid":"","userk1":"985ea45e-ca4c-431f-9fed-192391ff3818","passk2":"d004ebb7-95e6-47a3-9421-c8066fde9b3b","apikey":"","basicAuth":"","x":670,"y":200,"wires":[]},{"id":"a6f006b2.d4cdc8","type":"fiware orion in","z":"b6383a54.d474f8","name":"","authentication":"","service":"3dbf9cda.ef08f4","tls":"","throttle":"PT5S","entype":"userrootadmin","enid":"test_diego_01","userk1":"985ea45e-ca4c-431f-9fed-192391ff3818","passk2":"d004ebb7-95e6-47a3-9421-c8066fde9b3b","apikey":"","basicAuth":"","ispattern":false,"duration":"P1Y","attributes":"","condvalues":"","includeattr":true,"noderedhost":"","noderedhostauto":true,"x":247,"y":355,"wires":[["24777494.1eff7c"]]},{"id":"24777494.1eff7c","type":"debug","z":"b6383a54.d474f8","name":"","active":true,"console":"false","complete":"false","x":513,"y":346,"wires":[]},{"id":"c0e12625.a94348","type":"inject","z":"7105bd70.74fd24","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":120,"y":540,"wires":[["b0ee18d.cd405e8"]]},{"id":"b0ee18d.cd405e8","type":"function","z":"7105bd70.74fd24","name":"Fun","func":"payload={\n    devicename:\"TF3_PI0500260080301012_03\",\n    latitude:\"43.73387\",\n    longitude:\"10.40884\",\n    model:\"TrafficFlow\",\n    staticAttributes:\"\",\n    k1:\"79602f19-bc3f-482d-bbed-acc465f26f77\",\n    k2:\"384d6fe5-abb5-48ab-8702-8f76937bcf5b\"\n}\n\n\n\nreturn {payload:payload};","outputs":1,"noerr":0,"x":210,"y":600,"wires":[["a5ca5cdc.a632a","4f1fbae4.8bd924"]]},{"id":"a5ca5cdc.a632a","type":"iotdirectory-new-device-from-model","z":"7105bd70.74fd24","name":"","authentication":"d83868a.f0b0c98","devicename":"","latitude":"","longitude":"","k1":"5fac6f3a-d0fa-4923-a961-c1daf7ce03e0","k2":"224865a1-9ab2-4f84-af66-daff91ea5849","model":"","selectedModel":"","x":370,"y":520,"wires":[["46f9bebd.d0165"]]},{"id":"46f9bebd.d0165","type":"debug","z":"7105bd70.74fd24","name":"","active":true,"console":"false","complete":"false","x":750,"y":600,"wires":[]},{"id":"4f1fbae4.8bd924","type":"debug","z":"7105bd70.74fd24","name":"","active":true,"console":"false","complete":"false","x":390,"y":660,"wires":[]},{"id":"671c24c3.0b235c","type":"debug","z":"7105bd70.74fd24","name":"","active":true,"console":"false","complete":"false","x":630,"y":60,"wires":[]},{"id":"cb38fbd.bf6ce08","type":"inject","z":"7105bd70.74fd24","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":500,"y":780,"wires":[["520df15e.ebabf"]]},{"id":"520df15e.ebabf","type":"function","z":"7105bd70.74fd24","name":"","func":"msg.payload=[\n                {\n                    \"name\": \"wind\",\n                    \"type\": \"float\",\n                    \"value\": Math.random()*100\n                }\n            ];\nreturn msg;","outputs":1,"noerr":0,"x":722,"y":787,"wires":[["d236c919.3efa98"]]},{"id":"d236c919.3efa98","type":"fiware-orion-out","z":"7105bd70.74fd24","name":"wind1","authentication":"","tls":"","service":"3dbf9cda.ef08f4","entype":"WindSensor","enid":"wind1","userk1":"e95e90e7-7ee6-44a0-9a47-dd733194c7e9","passk2":"ec46165c-4517-4c23-9d16-16185862075a","apikey":"","basicAuth":"","x":930,"y":780,"wires":[]},{"id":"b0c93c27.8447d","type":"function","z":"2b05f7c8.c0c2d8","name":"","func":"msg.payload=[\n                {\n                    \"name\": \"wind\",\n                    \"type\": \"float\",\n                    \"value\": Math.random()*100\n                }\n            ];\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":160,"wires":[["9c3ed711.59e128","ad4d6a44.8e7ed8"]]},{"id":"a48cf138.82fa4","type":"inject","z":"2b05f7c8.c0c2d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":138,"y":153,"wires":[["b0c93c27.8447d"]]},{"id":"9c3ed711.59e128","type":"fiware-orion-out","z":"2b05f7c8.c0c2d8","name":"wind1","authentication":"","tls":"","service":"3dbf9cda.ef08f4","entype":"WindSensor","enid":"wind1","userk1":"e95e90e7-7ee6-44a0-9a47-dd733194c7e9","passk2":"ec46165c-4517-4c23-9d16-16185862075a","apikey":"","basicAuth":"","x":568,"y":153,"wires":[]},{"id":"ad4d6a44.8e7ed8","type":"single-content","z":"2b05f7c8.c0c2d8","flowName":"Flow 1","authentication":"","username":"usermanager","name":"status","metricType":"Testuale","startValue":"","metricShortDesc":"","metricFullDesc":"","x":550,"y":260,"wires":[]}]